<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbarCollapse">
    &#9776;
  </button>

<div class="container">
  <div class="collapse navbar-toggleable-xs" id="navbarCollapse">
      <a class="navbar-brand" [routerLink]="['Home']">{{title}}</a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
           <a [routerLink]="['Products']" class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item pull-md-right">
          <a class="nav-link" href="#">Cart({{cartService.getNumOfProducts()}})<i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a>
        </li>
      </ul>
  </div><!-- ./navbar collapse -->
</div><!-- ./container -->
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>
